<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] WeAid</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="https://unpkg.com/pattern.css" rel="stylesheet">
    <link href="~/css/pattern.min.css" rel="stylesheet" />
    <link rel="icon" href="favicon.png" type="image/png">
    <link rel="stylesheet" href="https://static-cdn.kloudless.com/p/platform/sdk/kloudless.scheduler.css">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0" nonce="LA3iabJH"></script>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow  mt-1">
            <div class="container">
                <a class="navbar-brand"  asp-area="" asp-page="/Index">
                    <img src="~/img/WeAid2.png" class="logo" id="Home">

                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />

                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-10">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class=" footer text-white-50 bg-dark">
        <div class="container">
            &copy; 2020 - WeAid - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>

    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"
        integrity="sha384-9/D4ECZvKMVEJ9Bhr3ZnUAF+Ahlagp1cyPC7h5yDlZdXs4DQ/vRftzfd+2uFUuqS"
        crossorigin="anonymous"></script>
    <script src="~/lib/anime-master/lib/anime.js"></script>
    <script src="~/js/supersaas.js"></script>

    <!-- Google -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    @RenderSection("Scripts", required: false)
</body>

</html>