@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


    <link href="~/css/styles.css" rel="stylesheet" />
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link auto-text" id="Home" asp-area="" asp-page="/Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link auto-text" data-appointlet-organization="weaid">Appointment</a>
            <script src="https://www.appointletcdn.com/loader/loader.min.js" async="" defer=""></script>
        </li>

        <li class="nav-item">
            <a class="nav-link auto-text" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link auto-text" onclick="signOut()">Logout</button>
            </form>
            
            <script>
                function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                console.log('User signed out.');
                    });
                }
            </script>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link auto-text" id="Home" asp-area="" asp-page="/Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link auto-text" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link auto-text" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>

    }
</ul>
