@page
@model WeAid.Areas.Identity.Pages.AdminModel
@{
    ViewData["Title"] = "Consultation  Management Page - ";
}

<h1>Click the button below to view Appointments </h1>
<a class="btn btn-outline-info mt-3 ml-3" href="https://www.appointlet.com/account/login/">Click Here to redirect</a>