@page
@model WeAid.Pages.AboutModel
@{
    ViewData["Title"] = "About - ";
}



<div class="col-sm-12 mb-3">
    <div class="card-body gradient-borderv1" id="CrdBdy">
        <h5 class="H5">How to use the WeAid Web App?</h5>
        <ol class="list">
            <li>Login or register through G-mail or Microsoft.</li>
            <li>Choose when and what time you want to have an appointment.</li>
            <li>Choose from the list of offered services of the Barangay.</li>
            <li>Set an an appointment.</li>
            <li>Go to barangay on the day of your appointment.</li>
        </ol>
    </div>
</div>


<div class="col-sm-12 mb-3">
    <div class="card-body gradient-borderv1" id="CrdBdy">
        <h5 class="H5">Contact Details</h5>
        <ul class="list">
            <li>
                <b>Address of the Barangay:</b>
                <br>&nbsp;&nbsp;Jericho St. Pleasant Hill Subdivision 3023 San Jose del Monte, Philippines
            </li>

            <li>
                <b>Contact Number:</b>
                <br>&nbsp;&nbsp;(044) 769 4279
            </li>

            <li>
                <b>Facebook Page:</b>
                <br>&nbsp;&nbsp;BarangaySanManuelOfficial
            </li>

            <li>
                <b>Gmail Account:</b>
                <br>&nbsp;&nbsp;brgy.sanmanuel1991@gmail.com
            </li>
        </ul>
    </div>
</div>