@page
@model WeAid.Areas.Identity.Pages.Account.IndexModel
@{
    ViewData["Title"] = "Appointment | ";
}
<h1>
    Hotdog
</h1>
<iframe src="https://www.supersaas.com/schedule/WeAid/Services" width="100%" height="800"> </iframe>