@page
@model IndexModel

<div class="container-lg">
    <!--Background Image-->
    <!--
            <div class="overlay">
                <div class="col-sm-12">
                    <h1 class="center">Welcome to WeAid</h1>
                    <h3 class="tagline">We Help, We Care, WeAid</h3>
                </div>
            </div>
    -->

    <div id="coverPage">
        <div class="position-relative text-white">
            <div class="image">
                <img src="~/img/sthetoscope.jpg" class="card-img" alt="Cover Photo">
            </div>
            <div class="card-img-overlay">
                <div class="col-sm-6 mx-auto my-auto mt-lg-5 mt-sm-5 mt-md-5 ml-md-5 ">
                    <div class="bg p-5">
                        <h1 class="text-white">Welcome to WeAid</h1>
                        <p class="tagline">
                            We Help, We Care, WeAid
                        </p>
                        <div class="buttons">
                            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="row row-cols-2 row-cols-md-4 g-5">
        <div class="col">
            <div class="card shadow p-3 m-5">
                <div class="icon mx-auto my-auto">
                    <i class="fas fa-hand-pointer fa-3x"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Easy Access</h5>
                    <p class="card-text">
                        Log in/Register using your Google/Microsoft Account.
                        Click the login or register button.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow p-3 m-5">
                <div class="icon mx-auto my-auto">
                    <i class="fas fa-user-shield fa-3x"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Reliable</h5>
                    <p class="card-text">
                        It is less hassle to use because just by the few steps,
                        you can already set an appointment. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow p-3 m-5">
                <div class="icon mx-auto my-auto">
                    <i class="fas fa-cogs fa-3x"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Accountability</h5>
                    <p class="card-text">
                        It lessen the time spend and effort you exert on going to
                        the Barangay to set an appointment.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="card-group">
    <div class="col-sm-5">
    <div class="card p-3 mb-5" id="Card">
            <div class="container">
        <h3 class="H3">Check the Official Facebook Page for more info</h3>
    <div class="fb-page" data-href="https://www.facebook.com/BarangaySanManuelOfficial" data-tabs="timeline"
         data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
         data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/BarangaySanManuelOfficial" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/BarangaySanManuelOfficial">Barangay San Manuel</a>
        </blockquote>
    </div>
    </div>
    </div>
</div>

<div class="col-sm-7">
    <div class="card p-3 mb-5" id="Card">
        <div class="card-body" id="CrdBdy">
        <h5 class="H5">Barangay Contact Details</h5>
        <ul class="list">
            <li>
                <b>Address of the Barangay:</b>
                <br>&nbsp;&nbsp;Jericho St. Pleasant Hill Subdivision 3023 San Jose del Monte, Philippines
            </li>

            <li>
                <b>Contact Number:</b>
                <br>&nbsp;&nbsp;(044) 769 4279
            </li>

            <li>
                <b>Facebook Page:</b>
                <br>&nbsp;&nbsp;BarangaySanManuelOfficial
            </li>

            <li>
                <b>Gmail Account:</b>
                <br>&nbsp;&nbsp;brgy.sanmanuel1991@gmail.com
            </li>
        </ul>
    </div>
</div>
        </div>
    </div>
</div>